<footer class="wrapper bg-dark text-white pt-10 mt-10">
  <section class="container">
    <div class="row d-flex">
      <div class="col-md-8 col-sm-12 logo-wrapper">
        <div class="mb-4">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', height:"100px" %>
          <% end %>
        </div>

        <div class="pl-4">
          <div class="col-md-6 col-sm-6 pl-0 mb-3">
            <form>
              <%= text_field_tag 'email', '', class: 'form-control required email border-white bg-transparent text-white border-top-0 remove-focus border-left-0 border-right-0 rounded-0' %>
            </form>
          </div>
        </div>

        <div class="pl-1 mb-3">
          <span class="copyright ml-0 ml-lg-4 d-block">&copy; <%= Time.zone.today.year %> June Properties
        </div>
      </div>

      <div class="col-md-4 col-sm-12 my-3">

        <div class="pt-6 pb-3 address">
          <span class="py-3">Contact</span><br>
          <span class="text-justify">
            +320123456 
            <br />
            Boulevard Saint-Miche l47,1040 ETTERBEEK
          </span>
        </div>
        <div class="pt-6 pb-3 social-icon">
          <div class="">
            <%= link_to "https://wa.me/32499319337", target: :blank, class: 'text-decoration-none lead px-2 text-white' do %>
              <%= inline_svg 'social/whatsapp.svg', class: 'icon icon-white icon-sm' %>
            <% end %>
            <%= link_to "https://www.facebook.com/ColocHousing/", target: :blan, class: 'text-decoration-none lead px-2 text-white' do %>
              <%= inline_svg 'social/facebook.svg', class: 'icon icon-white icon-sm' %>
            <% end %>
            <%= link_to "http://linkedin.com/company/colochousing/", target: :blank, class: 'text-decoration-none lead px-2 text-white' do %>
              <%= inline_svg 'social/linkedin.svg', class: 'icon icon-white icon-sm' %>
            <% end %>
            <%= link_to "https://www.instagram.com/colochousing/", target: :blank, class: 'text-decoration-none lead px-2 text-white' do %>
              <%= inline_svg 'social/instagram.svg', class: 'icon icon-white icon-sm' %>
            <% end %>
            <%= link_to "https://www.twitter.com/colochousing/", target: :blank, class: 'text-decoration-none lead px-2 text-white' do %>
              <%= inline_svg 'social/twitter.svg', class: 'icon icon-white icon-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
