<!DOCTYPE html>
<html xml:lang="<%= I18n.locale || 'en' %>" lang="<%= I18n.locale || 'en'%>">
  <%= render 'head' %>

  <body
    class="<%= params[:locale] ||= 'en' %>"
    data-controller="page <%= yield :stimulus_controller if content_for? :stimulus_controller %>"
    <%= yield :data_attributes %>
  >
    <%= render Views::Static::NavBarComponent.new %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>

